<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Inventory</title>
</head>
<body>
    <div>
        <h1>Book Inventory</h1>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Publishing Company</th>
                        <th>Inventory</th>
                        <th>Units Sold</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</body>
</html>